.mypage
  .mypage-main.clearfix
    .mypage-content
      = render partial: "modules/notification"
      .mypage-card
        %h2.mypage-card__cash 発送元・お届け先住所変更
        = render partial: "address_form"
    .mypage-side
      = render partial: "side_menu"
