.mypage
  .mypage-main.clearfix
    .mypage-content
      .mypage-card
        %h2.mypage-card__cash 支払い方法
        .mypage-card__list 
          %h2.mypage-card__list--font クレジットカード一覧
          = link_to new_card_path(current_user) do
            %button.mypage-card__btn 
              %i.mypage-card__icon.far.fa-credit-card
              クレジットカードを追加する
        .mypage-card-way
          .mypage-card-way__show
            = link_to "#" do
              %p 支払い方法について
            %i.angre-cardbtn.fas.fa-angle-right.fa-2x
    
    .mypage-side
      = render partial: "side_menu"