- breadcrumb :nowonsale
.mypage
  .mypage-main.clearfix
    .mypage-content
      .mypage-card
      .container
        %h1.title 出品中の商品
        %ul
          - @items.each do |item|
            %li
              .item
                .image-box
                  = image_tag "#{item.item_images[0].image}", size: '100x100'
                .item-name
                  %p=item.name
                .icon
                  \&gt;&gt;
    
    .mypage-side
      = render partial: "side_menu"