.mypage
  .mypage-main.clearfix
    .mypage-content
      .mypage-list
        .mypage-list__image
          =link_to "#" ,class: "mypage-list__image--color" do
            = image_tag 'member_photo_noimage_thumb.png',class: "mypage-list__image--size"
            %h2.mypage-list__name 大阪 難波
          %ul.mypage-list__show
            %li.mypage-list__valuation
              評価
            %li.mypage-list__valuation--padding
              0
            %li.mypage-list__valuation
              出品数
            %li.mypage-list__valuation--padding
              0
      .mypage-tab
        .mypage-tab__info
          %p お知らせ
        .mypage-tab__todo
          %p やることリスト
      .mypage-infomation
        .mypage-infomation--image
          = image_tag 'logo.png', size:"140x50"
          %p.mypage-infomation--font お知らせの商品がありません

      
      .mypage-purchase
        %h2 購入した商品
        .mypage-tab
          .mypage-tab__info
            %p お知らせ
          .mypage-tab__todo
            %p やることリスト
        .mypage-infomation
          .mypage-infomation--image
            = image_tag 'logo.png', size:"140x50"
            %p.mypage-infomation--font お知らせの商品がありません

    .mypage-side
      = render partial: "side_menu"