.buypage-header
  .buypage-header__logo
    = link_to root_path do
      = image_tag 'logo.png',class: "buypage-header__logo--position", size:"185x50"
  .buypage-main
    .buypage-top
      %h1.buypage-top__check 商品を購入しました。