.mypage
  .mypage-main.clearfix
    .mypage-content
      = render partial: "modules/notification"
      .mypage-card
        %h2.mypage-card__cash クレジットカード情報入力
        = render partial: "card"
    .mypage-side
      = render partial: "users/side_menu"
