.header {
  height: 97.5px;
  padding: 0 60px;
  margin-bottom: 10px;
  &-inner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    .header-top {
      position: relative;
      display: flex;
      align-items: center;
      & a {
        display: block;
        width: 140px;
      }
      .header-icon {
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
      }
      .search-box {
        margin-left: auto; 
        width: 100%;
        form {
          display: flex;
          width: 100%;
          margin-bottom: 5px;
          .search-box--input {
            width: calc(100% - 26px);
            height: 36px;
            padding: 5px;
          }
          button {
            width: 36px;
            cursor: pointer;
            background-color: #3ccace;
            .search-box--icon {
              padding-top: 5px;
              vertical-align: bottom;
            }
          }
        }
      }
    }
    .header-nav {
      display: flex;
      font-size: 14px;
      margin-bottom: 10px;
      justify-content: space-between;
      align-items: center;
      .nav--left {
        display: flex;
        margin-right: auto;
        #categoryBtn {
          color: #333;
          text-decoration: none;
          line-height: 32px;
          background-position: center right;
          padding-right: 30px;
          .left__item {
            text-decoration: none;
            color: #333;
            line-height: 38px;
            padding: 0 16px 0 0;
          }
        }
        #blandBtn {
          color: #333;
          text-decoration: none;
          line-height: 32px;
          background-position: center right;
          padding-right: 30px;
          .left__item {
            text-decoration: none;
            color: #333;
            line-height: 38px;
            padding: 0 0 0 16px;
          }
        }
      }
      .nav--right {
        display: flex;
        margin-left: auto;
        .login-link {
          color: #333;
          text-decoration: none;
          line-height: 32px;
          background-position: center right;
          padding-left: 30px;
          .right__item {
            color: #333;
            line-height: 38px;
            padding: 0 0 0 16px;
          }
        }
        .signup-link {
          color: #333;
          text-decoration: none;
          line-height: 32px;
          // background-position: center right;
          .right__item {
            color: #333;
            line-height: 38px;
            padding: 0 0 0 16px;
          }
        }
      }
    }
  }
}