.main {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  &-picture {
    height: 560px;
    width: 100%;
    background-image: url(bg-mainVisual-pict_pc.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 0 60px;
    display: flex;
    .container {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 110px 0 0 0;
      &__title {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        vertical-align: bottom;
        color: #fff;
        margin-top: 35px;
      }
      &__text {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        line-height: 1.777778;
        color: #fff;
        margin: 16px 0 0 0;
      }
      .container__btn {
        display: flex;
        margin: 24px 0 0 0;
        @include banners();
      }
    }
  }
  &-introduction {
    padding: 60px 20px;
    .section-title {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      &::after {
        @include after_green();
      }
    }
    .reason-lists {
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      .reason-list {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        flex-direction: column;
        align-items: center;
        .list--picture {
          margin-bottom: 20px;
          position: relative;
          &__number {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            background-color:#3ccace;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            color: #fff;
            border-radius: 4%;
          }
          img {
            width:100%;
          }
        }
        .list--title {
          text-align: center;
          font-size: 24px;
          margin: 0 0 0 2px;
          .title--green {
            color: #3ccace;
          }
        }
        .list-description {
          margin-top: 16px;
          font-size: 18px;
          line-height: 1.5;
        }
      }
      .reason-list--last {
        margin: 16px 0 0;
        text-align: left;
        flex-direction: column;
        align-items: center;
        width: 30%;
        .list--picture {
          margin-bottom: 20px;
          position: relative;
          &__number {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            background-color:#3ccace;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            color: #fff;
            border-radius: 4%;
          }
          img {
            width:100%;
          }
        }
        .list--title {
          text-align: center;
          font-size: 24px;
          margin: 0 0 0 2px;
          .title--green {
            color: #3ccace;
          }
        }
        .list-description {
          margin-top: 16px;
          font-size: 18px;
          line-height: 1.5;
        }
      }
    }
  }
  &-dl-link {
    background-image: url(bg-topMiddleDl-pict.jpg);
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
    padding: 100px;
    .container {
      color: #fff;
      width: 100%;
      max-width: 1040px;
      margin: 0 auto;
      text-align: left;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      .main-dl-link__title {
        font-size: 27px;
        line-height: 1.2;
        vertical-align: bottom;
      }
      .main-dl-link__text {
        font-size: 18px;
        line-height: 1.5;
        vertical-align: bottom;
        margin-top: 25px;
      }
      .main-dl-link__btns {
        margin-top: 25px;
        display: flex;
        margin: 24px 0 0 0;
        @include banners();
      }
    }
  }
  &-features {
    padding: 60px 100px;
    background-color: #fff;
    .section__title {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      &::after {
        @include after_green();
      }
    }
    .feature-items {
      display: flex;
      width: 100%;
      max-width: calc(1040px + 20px);
      margin: 0 auto;
      flex-wrap: wrap;
      .feature-item {
        display: flex;
        flex-direction: column;
        width: calc(1/3 * 100%);
        text-align: center;
        padding: 0 20px;
        .item__image {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
          img {
            width: 100%;
            vertical-align: bottom;
          }
        }
        .item__head {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        .item__text {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  &-pickup-items {
    padding-top: 80px;
    background-color: #f8f8f8;
    height: 100%;
    &__title {
      @include section_header(28px);
    }
    &__box {
      .box__head {
        color: #3ccace;
        font-size: 28px;
        text-decoration: none;
        & h3 {
          @include section_header(24px);
        }
      }
      .item-lists {
        display: flex;
        margin: 26px auto auto;
        width: 780px;
        justify-content: space-around;
        .item-list {
          width: 220px;
          display: inline-block;
          & a {
            background-color: #fff;
            text-decoration: none;
            .item__image {
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              & img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
                background-color: #fff;
              }
            }
            .item__body {
              background-color: white;
              color: #333;
              padding: 16px;
              .item--detail {
                & ul {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  .after_number::after {
                    @include after_number();
                  }
                }
              }
            }
          }
        } 
      }
    }
  }
  &-pickup-blands {
    padding: 80px 0;
    background-color: #f8f8f8;
    height: 100%;
    &__title {
      @include section_header(28px);
    }
    &__box {
      .box__head {
        color: #3ccace;
        font-size: 28px;
        text-decoration: none;
        & h3 {
          @include section_header(24px)
        }
      }
      .item-lists {
        display: flex;
        margin: 26px auto auto;
        width: 780px;
        justify-content: space-around;
        .item-list {
          width: 220px;
          display: inline-block;
          & a {
            background-color: #fff;
            text-decoration: none;
            .item__image {
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              & img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
                background-color: #fff;
              }
            }
            .item__body {
              background-color: white;
              color: #333;
              padding: 16px;
              .item--detail {
                & ul {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  .after_number::after {
                    @include after_number();
                  }
                }
              }
            }
          }
        } 
      }
    }
  }
}

.banner {
  background-image: url(bg-appBanner-pict.jpg);
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  &__inner {
    text-align: center;
    color: #fff;
    &__title {
      font-size: 24px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-weight: bold;
      line-height: 1.4;
    }
    &__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__icon {
      margin: 20px auto 0;
      width: 100%;
      display: flex;
      justify-content: center;
      @include banners();
    }
  }
}

.putup__btn {
  width: 120px;
  background-color: #3ccace;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &__text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  &__icon {
    width: 60%;
    vertical-align: bottom;
  }
}

.putup__btn:hover {
  @include mouse_hover(0.9);
}