* {
  box-sizing: border-box;
}

.breadCrums {
  width: 100%;
  height: 55px;
  padding: 0 60px;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  ul {
    display: flex;
    line-height: 55px;
    margin: 0 140px;
    font-size: 14px;
    li a {
      text-decoration: none;
      color: black;
      padding: 0 10px;
    }
    a:hover {
      color: #3CCACE;
    }
    p {
      padding-left: 10px;
      font-weight: bold;
    }
  }
}

.main {
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
  .content {
    height: 100%;
    width: 100%;
    padding: 40px;
    .top-content {
      width: 700px;
      margin: 0 auto;
      .item-box {
        background-color: white;
        padding: 24px 40px;
        text-align: center;
        &__name {
          font-size: 24px;
          font-weight: bold;
        }
        &__picture {
            display: flex;
            padding: 20px;
            ul {
              display: flex;
              width: 100%;
              li {
                width: 100%;
                img {
                  width: 100%;
                  height: 346px;
                  object-fit: cover;
                }
                ul {
                  margin-top: 5px;
                  display: flex;
                  justify-content: center;
                  li {
                    width: 25%;
                    margin: 0 5px;
                    img {
                      width: 100%;
                      height: 87px;
                      object-fit: cover;
                    }
                  }
                }
              }
            }
        }
        #modal {
          background-color: rgba(0,0,0,0.2);
          z-index: 2;
          position: fixed;
          top: 0;
          bottom: 0;
          left:0;
          right: 0;
          margin: auto;
          width: 800px;
          height: 600px;
          padding: 20px;
          .iconroom {
            text-align: left;
          }
        }
        .displayNone {
          display: none;
        }
        &__price {
          margin: 5px 0 24px;
          span {
            font-size: 46px;
            font-weight: bold;
          }
          &__extra {
            span {
              font-size: 16px;
            }
          }
        }
        &__description {
          margin-bottom: 30px;
        }
        &__table {
          width: 100%;
          margin-bottom: 20px;
          table {
            border: 1px solid #222;
            width: 100%;
            tr {
              th {
                width: 20%;
                font-size: 14px;
                font-weight: 400;
                padding: 8px;
                background-color: #eee;
                text-align: center;
                border: 1px solid #dedede;
              }
              td {
                font-size: 14px;
                padding: 15px;
                text-align: left;
                border: 1px solid #dedede;
                a {
                  text-decoration: none;
                  color: #3CCACE;
                }
              }
            }
          }
        }
        &__btn {
          width: 100%;
          text-align: right;
          padding-right: 2px;
          button {
            margin-left: 5px;
          }
          a {
            text-decoration: none;
          }
        }
        .additional-area {
          width: 100%;
          display: flex;
          position: relative;
          padding: 10px 0;
          ul {
            width: 200px;
            .like-btn {
              width: 130px;
              padding: 6px 10px;
              border: 1px solid #ffb340;
              display: flex;
              border-radius: 40px;
              color: #3CCACE;
              i {
                font-size: 14px;
                padding-top: 4px;
              }
            }
            .like-btn:hover {
              opacity: 0.5;
            }
            .report-btn {
              position: absolute;
              right: 0px;
              top: 15px;
              border: 1px solid black;
              padding: 5px 8px;
              border-radius: 5px;
              i{
                font-size: 12px;
              }
              a {
                text-decoration: none;
                color: black;
                font-size: 14px;
              }
            }
            .report-btn:hover {
              opacity: 0.5;
            }
          }
        }
      }
      .comment-box {
        margin: 10px 0;
        background-color: white;
        width: 100%;
        padding: 20px;
        .form {
          text-align: center;
          .comment-area {
            width: 100%;
            min-height: 100px;
            padding: 10px;
          }
          .caution-message {
            background-color: #f8f8f8;
            padding: 8px;
            margin: 10px 0;
            font-size: 14px;
            text-align: left;
          }
          .comment-btn {
            width: 60%;
            height: 48px;
            background-color: #3CCACE;
            border-radius: 100px;
            border: 1px solid #3CCACE;
            color: white;
            font-size: 18px;
            font-weight: 400;
            margin: 10px 0;
          }
        }
      }
    }
    .links {
      width: 700px;
      display: flex;
      justify-content: space-between;
      margin: 0 auto;
      li {
        width: 100px;
        a {
          text-decoration: none;
          color: #3CCACE;
        }
        i {
          color: #3CCACE;
        }
      }
    }
    .related-items {
      margin: 30px auto;
      width: 700px;

      a {
        text-decoration: none;
        font-size: 22px;
        font-weight: bold;
        color: #3CCACE;
      }
    }
  }
}